body {
  padding: 10px;
}

input, textarea, label {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 5px;
}

button {
display: flex;
flex-direction: column;
flex: 1;
margin: 5px;
}

input, textarea {
  padding-right: 10px;
}
