body {
  padding: 10px;
}

input, textarea, label {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 98%;
  margin: 5px;
}

button {
display: flex;
flex-direction: column;
flex: 1;
margin: 5px;
background-color: white;
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
border-color: solid gray;
}

input, textarea {
  padding-right: 10px;
  border: 1px solid gray;
}

textarea {
  height: 200px;
}
